.wrapper{
  display: flex;
}

.sidebar-frame {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-create {
  border: solid 1px lightblue;
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.side-main {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room-list {
  margin: 20px 0 40px;
}

.chat-room a{
  text-decoration: none;
  color: white;
}

.chat-frame {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.outline-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.quit-chat {
  margin-top: 40px;
}

.quit-chat-link a{
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

.main-frame {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.user-post {
  display: flex;
}

.name {
  font-size: 16px;
  color: #434A54;
  margin: 10px 10px 10px 0;
}

.time {
  font-size: 12px;
  color: #999;
  margin: 10px 0;
}

.message {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.chat-bottom {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form {
  width: 100%;
  display: flex;
  background-color: white;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}