.wrapper{
  display: flex;
}

.sidebar-frame {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-create a{
  border: solid 1px lightblue;
  padding: 14px;
  margin: 0 20px;
  font-size: 10px;
  color: skyblue;
  text-decoration: none;
}

.side-main {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room-list {
  margin: 20px 0 40px;
}

.chat-room a{
  text-decoration: none;
  color: white;
}

.chat-frame {
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.main-frame {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.chat-bottom {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}